body {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {

}

h2 {

}

p {

}

em {

}

li {

}

figure{
	width: 80%;
	margin-right:10%;
	margin-left: 10%;
}

img{
	width: 80%;
}

figcaption {

}