body {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%; // peut être réécrit en margin: 0 5%;
	background-color: #A7A4C3;
}

header{
	background-color: #D0D02F;
}

footer {
	background-color: #D0D02F;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

p {
	font-size: medium;
}

em {

}

li {

}

figure{
	width: 80%;
	margin : 0 auto;
}

img{
	width: 666px;
}

figcaption {
	padding-top: 7px;
	font-size: x-small;
}

blockquote {
	font-size: large;
	//width: 60%;
	margin: 0 auto;
	background-color: #D0D02F;
}