body {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%; // peut être réécrit en margin: 0 5%;
	background-color: #A7A4C3;
}

h1 {

}

h2 {

}

p {

}

em {

}

li {

}

figure{
	width: 80%;
	margin : 0 auto;
}

img{
	width: 666px;
}

figcaption {
	padding-top: 7px;
}

blockquote {
	width: 60%;
	margin: 0 auto;
	background-color: #D0D02F;
}